.information__title {
  margin: 0 auto;
  color: #003331;
  text-align: center;
  font-family: "Libre Baskerville";
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 1.2px;
  max-width: 717px;
}
.information__text {
  color: rgba(53, 83, 98, 0.8);
  text-align: center;
  font-family: "Public Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}