.partners{
    padding: 17px 0;

    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 7px;

        &-img{
            display: flex;
            justify-content: space-between;
            gap: 13px;
        }
    }

    &__link{
        color: rgba(53, 83, 98, 0.60);
        font-family: 'Public Sans';
        font-size: 11px;
        font-weight: 400;
        line-height: 16px; 
        letter-spacing: 0.5px;
        text-transform: uppercase;
        text-decoration: none;
    }

    &__img{
        display: block;
        max-width:160px ;
    }
}

@media (max-width: 1200px) {
    .partners__inner{
        flex-wrap: wrap;
        justify-content: center;
    }

    .partners__inner-img{
        flex-wrap: wrap;
        justify-content: center;
    }

    .partners__link{
        text-align: center;
        display: block;
        width: 100%;
    }
}